@using MVC.Domain.Models;
@using MVC.Domain.SupClass;
@model List<MVC.Domain.Models.User>
@{
    string[] sw;
    var user = new MVC.Domain.Models.User();
}
<style>
    body {
        background-color: #081b29;
    }

    .HomeButton {
        top:5px;
        position: fixed;
        left: 0;
        background-color: lightgray;
        border-radius:12px;
        max-width: 100%;
    }

        .HomeButton:hover {
            background-color: #6e65f3;
            border-radius: 6px;
            max-width: 100%;
        }
    .serverdiv {
        display: block;
        width:50px;
        margin:0;
        position:fixed;
        left:0;
        border-radius: 12px;
        max-width: 100%;
    }

    .serverselectionbutton:hover {
        background-color: #00abf0;
        max-width: 100%;
    }
    .joinorcreateserver{
        max-width: 100%;
    }
</style>
<header class="topbuttons">
    <form method="post">
        <button class="logoutButton" asp-controller="Home" asp-action="LogOut">LogOut</button>
        <button type="submit" class="HomeButton" asp-controller="Home" asp-action="AddFriend">Home</button>
    </form>
</header>
@*joining and creating a new server*@
<form method="post">
    <div class="joinorcreateserver">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <input style="border:thick solid black" name="newserverInput" type="text" class="srvrinput" />
            <button type="submit" class="btnJoinServer" value="newserverInput" asp-controller="Home" asp-action="JoinServer">Join a New Server</button>
            <button type="submit" class="btnJoinServer" value="newserverInput" asp-controller="Home" asp-action="CreateNewServer">Create a New Server</button>
        </div>
    </div>
</form>
@*sending the data of selected server name*@
<form method="post">
    <div class="serverdiv">
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                sw = item.Server.Split(',');
                for (int i = 0; i < sw.Count(); i++)
                {
                    user.Server = sw[i];
                    <button name="serverButton"
                            type="submit"
                            class="serverselectionbutton"
                            value="@user.Server"
                            asp-controller="Home"
                            asp-action="GetAllChannels">
                        @user.Server
                    </button>
                }
            }
        }
    </div>
</form>


