@using MVC.Domain.Models;
@using MVC.Domain.SupClass;
@model List<MVC.Domain.Models.User>

@{
    string[] sw;
    var user = new MVC.Domain.Models.User();
}

<form method="post">
    @foreach (var item in Model)
    {
        sw = item.Server.Split(',');
        for (int i = 0; i < sw.Count(); i++)
        {
            user.Server = sw[i];
            <button name="serverButton"
                type="submit" 
                class="btn btn-danger"
                value="@user.Server"
                asp-controller="Home" 
                asp-action="GetAllChannels">
                @user.Server
            </button>
        }
    }
</form>

