@using MVC.Domain.Models;
@using MVC.Domain.SupClass;
@model List<MVC.Domain.Models.Server>

@{
    string[] chnl;
    var channel = new MVC.Domain.Models.Server();
    AppMain.Servers = new MVC.Domain.Models.Server();
}
<style>
    body {
        background-color: #081b29;
    }

    .chnlDiv {
        display: block;
        margin: auto;
        width: 16%;
        border: 3px solid green;
        padding: 10px;
        height: 100%;
        align-items: center;
        justify-content:space-around;
    }

    .navbar-collapse collapse d-sm-inline-flex justify-content-between{
        color:white;
    }
</style>
<form method="post">
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <input style="border:thick solid black" name="newchannelInput" type="text" class="chnlinput"/>
    <button type="submit" class="btnSend" value="newchannelInput" asp-controller="Home" asp-action="CreateNewChannel">Yeni Kanal Ekle</button>
</div>
</form>
<div class="chnlDiv">
<form method="post">
@foreach(var item in Model)
{
    chnl = item.Channels.Split(',');
    for (int i = 0; i < chnl.Count(); i++)
    {
        channel.Channels = chnl[i];
            <button name="channelButton" 
                type="submit" 
                class="btn btn-danger"
                value="@channel.Channels"
                asp-controller="Home"
            asp-action="ReturnChatScreen">
            @channel.Channels
            </button>
        }
    }
</form>
</div>