@model MVC.Domain.Models.User;
@{
    ViewData["Title"] = "Login Page";
}
<style>
    .loginBtn{
        background-color:red;
        color:white;
        display: block;
        max-width: 100%;
    }
    .registerBtn{
        background-color: red;
        color: white;
        display: block;
        max-width: 100%;
    }
    body{
        background-color: #081b29;
        max-width: 100%;
    }
    .userInput{
        display: block;
        max-width: 100%;
    }
    .form-label{
        color:white;
        display: block;
        max-width: 100%;
    }
    .loginDiv{
        margin: auto;
        width: 16%;
        border: 3px solid green;
        padding: 10px;
        height:100%;
        align-items:center;
        max-width: 100%;
    }
</style>
<form method="post">
    <div class="loginDiv">
        <label class="form-label">Username</label>
        @*get the email*@
        <input type="text" class="userInput" asp-for="Username" width="20"/>
        <label class="form-label">Password</label>
        @*get the password*@
        <input type="text" class="userInput" asp-for="Password" />
        <br />
        <button type="submit" class="loginBtn" asp-controller="Home" asp-action="Login">Login</button>
        <button type="submit" class="registerBtn" asp-controller="Home" asp-action="RegisterAccount">Register</button>
    </div>
</form>



