@model MVC.Domain.Models.User;
@{
    ViewData["Title"] = "Login Page";
}
<style>
    .loginBtn{
        background-color:#6c65f3;
        color:white;
        display: block;
        max-width: 100%;
        width: 250px;
    }
    .registerBtn{
        color: blue;
        display: block;
        max-width: 100%;
    }
    body{
        background-color: #081b29;
        max-width: 100%;
    }
    .userInput{
        display: block;
        max-width: 100%;
        background-color: black;
        color: white;
        width: 250px;
    }
    .form-label{
        color:white;
        display: block;
        max-width: 100%;
    }
    .loginDiv{
        margin: auto;
        width: 35%;
        border: 3px solid green;
        padding: 10px;
        height:350px;
        align-items:center;
        max-width: 100%;
        background-color: #313338;
        position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
    }
    .welcomeLabel{
    color: white;
    }
    .excitedtoSee{
    color: white;
    }
</style>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<form method="post">
    <div class="loginDiv">
        <p class="welcomeLabel">Welcome back!</p>
        <p class="excitedtoSee">We're excited to see you again!</p>
        <label class="form-label">Email</label>
        @*get the email*@
        <input type="text" class="userInput" id="EmailInput" asp-for="EMail" width="20"/>
        <label class="form-label">Password</label>
        @*get the password*@
        <input type="text" class="userInput" id="userPasswordInput" asp-for="Password"/>

        @*this could be used afterwards*@
        @*<input type="text" class="userInput" id="userPasswordInput" asp-for="Password"/>*@

        <br/>
        <button type="submit" class="loginBtn" id="loginBtn" asp-controller="Home" asp-action="Login">Login</button>
        @* <button type="submit" class="registerBtn" id="registerBtn" asp-controller="Home" asp-action="RegisterAccount">Register</button> *@
        <a asp-controller="Home" asp-action="RegisterPage" class="registerBtn">Register</a>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const EmailInput=document.getElementById('EmailInput');
    const userPasswordInput=document.getElementById('userPasswordInput');
    userPasswordInput.addEventListener('input', checkInputs);
    const loginButton=document.getElementById('loginBtn');

function checkInputs() {
  // Check if both input boxes are empty
  if (EmailInput.value === '' || userPasswordInput.value === '') {
    loginButton.disabled = true; // Disable the button
  } else {
    loginButton.disabled = false; // Enable the button
  }
}
checkInputs();

</script>



